/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* HTML */
  --doc-back-color: rgb(240, 240, 240);

  /* Header */
  --header-back-color: rgb(255, 255, 255);
  --header-nav: hsl(205, 82%, 85%);
  --header-font-color: rgb(53, 53, 255);
  --header-font-size: 1.5rem;
  --transition: all 0.2s linear;
  /* Letter */
  --ff-primary: "Open Sans", sans-serif;
  /* Proj */
  --proj-hover: green;
  /* Toogle button */
  --btn-edge: 30px;
  --btn-bar-height: 7%;
  --btn-bar-width: 90%;
  --btn-bar-Color: green;
  --btn-vertical-bar-display: "block";
  --buttons-and-cards-heads: rgb(192, 248, 192);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 40px);
}
/*
=============== 
Global Styles
===============
*/

*,
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open";
  font-family: var(--ff-primary);
  color: black;
}

html,
body {
  background-color: var(--doc-back-color);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

/*
=============== 
Header
===============
*/

header,
header * {
  background-color: var(--header-back-color);
}

header {
  position: fixed;
  width: 100vw;
}

header,
main,
footer {
  padding: 0 2vw;
}

.author {
  display: inline-block;
}

.author p {
  display: inline;
  text-shadow: 2px 2px 0px #d1d1d1;
  font-size: var(--header-font-size);
}

.author .last-name {
  color: var(--header-font-color);
}

.desktop-nav {
  display: none;
}

nav {
  position: fixed;
  bottom: -1rem;
  width: 100vw;
  z-index: 1;
}

nav ul {
  background-color: var(--header-nav);
  padding-top: 0px;
}

nav li {
  list-style-type: none;
  height: 1.5rem;
  display: flex;
  padding-left: 1rem;
  background-color: var(--header-nav);
}

nav li a {
  background-color: var(--header-nav);
}

nav li a:hover {
  color: var(--header-font-color);
  font-weight: bold;
}

/* Button toogle */

.nav-toggle {
  position: fixed;
  top: 92vh;
  right: 1%;
  width: var(--btn-edge);
  height: var(--btn-edge);
  border: rgb(7, 236, 7) 1px solid;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgb(166, 243, 166);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle span {
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;
}

/* bars */
.nav-toggle::before {
  content: "";
  position: absolute;
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;

  transform: translateY(-6px);
  transition: var(--transition);
}

.nav-toggle::after {
  content: "";
  position: absolute;
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;

  transform: translateY(6px);
  transition: var(--transition);
}

.nav-toggle.active {
  background-color: red;
  border: rgb(124, 0, 0) 1px solid;
}

.temp-bar.active {
  display: none;
}

.nav-toggle.active::before {
  transform: translateY(0) rotate(45deg);
}

.nav-toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}

/* JS - Dropdown links initially hidden */
.links {
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 13rem;
  padding-top: 1rem;
}

.show-links li {
  height: 2rem;
}

header,
.social .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.social .icons img {
  height: var(--btn-edge);
}

/*
=============== 
Main
===============
*/

main {
  padding-top: 34.8px;
}

main > div {
  margin-bottom: 34.8px;
}

.stacks {
  padding-left: 1.5rem;
}

form > input {
  font-size: 1rem;
  cursor: pointer;
  width: 5rem;
  border-bottom: 2px solid green;
  background-color: var(--buttons-and-cards-heads);
}
form > input:hover {
  font-weight: bold;
}

.filterProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.filter-btn {
  border-radius: 5%;
  padding: 5px;
  width: max-content;
  font-weight: bold;
  border: 1.5px solid gray;
  cursor: pointer;
  margin-bottom: 5px;
}

.filter-btn:hover {
  background-color: khaki;
}

main .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 85vw;
}

main article {
  width: 100%;
}

main article .title {
  display: flex;
  justify-content: space-between;
  background-color: var(--buttons-and-cards-heads);
  padding-left: 5px;
}

main .projects .title a {
  transition: var(--transition);
}

main .projects .title a:hover {
  color: var(--proj-hover);
  font-size: 1.3rem;
  transition: var(--transition);
}

main .projects .project-desc {
  height: 0px;
  overflow: hidden;
}

main .projects .project-desc.show-desc {
  height: min-content;
  background-color: var(--header-back-color);
  padding: 5px;
}

/* Toggle */
.desc-toggle {
  position: relative;
  height: auto;
  width: 30px;
  cursor: pointer;
  background-color: white;
  /* Alinhar a barrinha preta do ".toggle::before" ao centro do botão de menu/toogle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: var(--btn-bar-Color);
  /* Mover barrinha do centro pelo eixo "y" */
  transform: translateY(0px);
}

.desc-toggle::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: var(--btn-bar-Color);
  display: var(--btn-vertical-bar-display);
  /* Mover barrinha do centro pelo eixo "y" */
  transform: translateY(0px);
}

@media screen and (max-width: 363.2px) {
  /* From 0px to 248px */
  main {
    padding-top: 65.6px;
  }
}

@media screen and (min-width: 768px) {
  /* From 768px to ... */

  /*  global classes */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  /*  global classes */

  /*
  =============  
  HEADER
  ============= 
  */
  header,
  header * {
    margin: 0;
    padding: 0;
  }

  header,
  main,
  footer {
    padding: 0 5vw;
  }

  main {
    padding-top: 34.8px;
  }

  header,
  .links,
  .author,
  nav,
  ul.links,
  .social .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Icons */
  .social .icons {
    gap: 15px;
  }

  .social .icons img {
    height: var(--btn-edge);
    gap: 5px;
  }

  /* Navbar */
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  nav li {
    padding-left: 0rem;
  }

  nav,
  nav > ul,
  nav > ul > li,
  nav > ul > li > a {
    background-color: var(--header-back-color);
  }

  nav {
    position: relative;
    bottom: 0rem;
  }

  nav > .links {
    gap: 16px;
    padding-top: 0px;
    padding-left: 0px;
    height: auto;
    overflow: auto;
    transition: none;
    top: 0;
  }

  /* Nav Toggle*/
  .nav-toggle {
    display: none;
  }
  /*
  =============== 
  Main
  ===============
  */
  .stacks {
    padding-left: 3rem;
  }

  .filterProjects {
    margin-bottom: 15px;
  }

  main .projects {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90vw;
  }

  main .projects .title a {
    transition: var(--transition);
  }

  main .projects .title a:hover {
    color: var(--proj-hover);
    font-size: 1.75rem;
    transition: var(--transition);
  }

  main article {
    max-width: 300px;
    min-width: 200px;
  }
}
