/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* HTML */
  --doc-back-color: rgb(240, 240, 240);
  /* Header */
  --header-back-color: rgb(255, 255, 255);
  --header-nav: hsl(205, 82%, 85%);
  --header-font-color: rgb(53, 53, 255);
  --header-font-size: 1.5rem;
  --transition: all 0.2s linear;
  /* Letter */
  --ff-primary: "Open Sans", sans-serif;
  /* Toogle button */
  --btn-edge: 30px;
  --btn-bar-height: 7%;
  --btn-bar-width: 90%;
}
/*
=============== 
Global Styles
===============
*/

*,
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open";
  font-family: var(--ff-primary);
  color: black;
}

html,
body {
  background-color: var(--doc-back-color);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

/*
=============== 
Header
===============
*/

header,
header * {
  background-color: var(--header-back-color);
}

header {
  position: fixed;
  width: 100vw;
}

.author {
  display: inline-block;
}

.author p {
  display: inline;
  text-shadow: 2px 2px 0px #d1d1d1;
  font-size: var(--header-font-size);
}

.author .last-name {
  color: var(--header-font-color);
}

nav {
  position: fixed;
  bottom: -1rem;
  width: 100vw;
}

nav ul {
  background-color: var(--header-nav);
  padding-top: 0px;
}

nav li {
  list-style-type: none;
  height: 1.5rem;
  display: flex;
  padding-left: 1rem;
  background-color: var(--header-nav);
}

nav li a {
  background-color: var(--header-nav);
}

nav li a:hover {
  color: var(--header-font-color);
  font-weight: bold;
}

/* Button toogle */

.nav-toggle {
  position: fixed;
  top: 92vh;
  right: 10%;
  width: var(--btn-edge);
  height: var(--btn-edge);
  border: rgb(7, 236, 7) 1px solid;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgb(166, 243, 166);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle span {
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;
}

/* bars */
.nav-toggle::before {
  content: "";
  position: absolute;
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;

  transform: translateY(-6px);
  transition: var(--transition);
}

.nav-toggle::after {
  content: "";
  position: absolute;
  width: var(--btn-bar-width);
  height: var(--btn-bar-height);
  background-color: black;

  transform: translateY(6px);
  transition: var(--transition);
}

.nav-toggle.active {
  background-color: red;
  border: rgb(124, 0, 0) 1px solid;
}

.temp-bar.active {
  display: none;
}

.nav-toggle.active::before {
  transform: translateY(0) rotate(45deg);
}

.nav-toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}

/* JS - Dropdown links initially hidden */
.links {
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 13rem;
  padding-top: 1rem;
}

.show-links li {
  height: 2rem;
}

/* JS - Dropdown links initially hidden */

header,
.social .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.social .icons img {
  height: var(--btn-edge);
}

main {
  padding-top: 34.8px;
}
@media screen and (max-width: 348px) {
  /* From 0px to 248px */
  main {
    padding-top: 65.6px;
  }
}

@media screen and (min-width: 768px) {
  /* From 768px to ... */

  /*  global classes */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  /*  global classes */

  /*
  =============  
  HEADER
  ============= 
  */
  header,
  header * {
    margin: 0;
    padding: 0;
  }

  header,
  .links,
  .author,
  nav,
  ul.links,
  .social .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Icons */
  .social .icons {
    gap: 15px;
  }

  .social .icons img {
    height: var(--btn-edge);
    gap: 5px;
  }

  /* Navbar */
  nav,
  nav > ul,
  nav > ul > li,
  nav > ul > li > a {
    background-color: var(--header-back-color);
  }
  nav {
    position: relative;
    bottom: 0rem;
  }

  nav > .links {
    gap: 16px;
    padding-top: 0px;
    padding-left: 0px;
    height: auto;
    overflow: auto;
    transition: none;
    top: 0;
  }

  /* Nav Toggle*/
  .nav-toggle {
    display: none;
  }

  /*
  =============  
  HEADER - END
  ============= 
  */
}
