:root {
  /* 
  ================== 
  Font 
  ==================
  */
  --bs-font-oswald: "Oswald", sans-serif;

  /* 
  ================== 
  Color palette 
  ==================
  */
  /* white - dark */
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-dark: #212529;

  /* Main colors */
  --bs-black: #0d0d0e;
  --bs-cream: #f1f7ed;
  --bs-blue: #3e92cc;
  --bs-pink: #ec2880;
  --bs-corsa: #d00000;
}

*,
* * {
  font-family: var(--bs-font-oswald);
  color: var(--bs-cream);
}

body {
  background: rgb(77, 76, 76);
  background-color: black;
}

header {
  border-left: 7px solid var(--bs-blue);
  background-color: black;
  padding-right: 5%;
}

h1 {
  color: white;
}

.name * {
  text-transform: uppercase;
  font-size: 7rem;
  background-image: linear-gradient(90deg, var(--bs-blue), var(--bs-cream));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.last-name {
  text-align: right;
}

/* 
==============
Main
==============
*/

main {
  margin-top: 70px;
  height: 40%;
  max-height: 500px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

main * {
  color: black;
}

h2:first-child {
  color: blue;
}

main > h2,
main h2,
main h3,
main a {
  padding: 1rem;
  padding-bottom: 0;
}

main h2 {
  color: var(--bs-blue);
}

main > p {
  padding: 1rem;
  padding-top: 0;
  color: var(--bs-gray-900);
}

ul li {
  list-style-type: circle;
}

.certificates a {
  text-decoration: none;
}

/*
============ 
Scrollbar 
============
*/
main::-webkit-scrollbar {
  /* ::-webkit-scrollbar - All scrollbar 
       main::-webkit-scrollbar - Just the main scrollbar 
    */
  width: 1em;
}

main::-webkit-scrollbar-track {
  /* 
  main::-webkit-scrollbar-track - The entire sidebar, where the bar will run. 
  */
  background: white;
  border-radius: 100vw;
}

main::-webkit-scrollbar-thumb {
  /* 
  main::-webkit-scrollbar-thumb - Where we are on page. 
  */
  background: var(--bs-blue);
  border-radius: 100vw;
}

main::-webkit-scrollbar-thumb:hover {
  background: blue;
  border-radius: 100vw;
  padding: 1rem;
}

.cv-pdf {
  height: 25px;
}

.detailedCV,
.cv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.detailedCV a,
.detailedCV h2,
.cv {
  text-decoration: none;
  color: rgb(253, 97, 97);
  position: relative;
  padding: 2px;
  transition: 0.2s;
}

.detailedCV a:hover,
.detailedCV h2:hover {
  color: rgb(250, 186, 186);
  text-decoration: underline white;
  background-size: 100% 3px;
}

/*
============ 
Footer 
============
*/

footer {
  height: 5%;
  width: 100vw;
  background-color: white;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  align-content: flex-start;
}

footer * {
  color: black;
}

footer h4 {
  color: black;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

footer img {
  height: 35px;
}

footer img:hover {
  background-color: rgb(250, 186, 186);
}
