@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DM Sans Bold";
    src:
      url("/Fonts/DMSans/dmsans-bold-webfont.woff2") format("woff2"),
      url("/Fonts/DMSans/dmsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DM Sans Bold Italic";
    src:
      url("/Fonts/DMSans/dmsans-bolditalic-webfont.woff2") format("woff2"),
      url("./Fonts/DMSans/dmsans-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DM Sans Medium";
    src:
      url("/Fonts/DMSans/dmsans-medium-webfont.woff2") format("woff2"),
      url("/Fonts/DMSans/dmsans-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DM Sans Medium Italic";
    src:
      url("/Fonts/DMSans/dmsans-mediumitalic-webfont.woff2") format("woff2"),
      url("/Fonts/DMSans/dmsans-mediumitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DM Sans Regular";
    src:
      url("/Fonts/DMSans/dmsans-regular-webfont.woff2") format("woff2"),
      url("/Fonts/DMSans/dmsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DM Sans Italic";
    src:
      url("/Fonts/DMSans/dmsans-italic-webfont.woff2") format("woff2"),
      url("/Fonts/DMSans/dmsans-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family:
      DM Sans Regular,
      sans-serif;
  }

  body {
    @apply container bg-zinc-100 transition-colors dark:bg-zinc-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  div {
    @apply text-black transition-colors dark:text-white;
  }
}
